
<h1>Register form</h1>
{{msg}}
<form id="form" method="post" action="send">
    <label>
        First Name
        <input type="text" name="firstName" placeholder="Enter user Name"/>
    </label>
    <label>
        Last Name
        <input type="text" name="lastName" placeholder="Enter user Last Name"/>
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Enter password"/>
    </label>
    <label>
        Email
        <input type="email" name="email" placeholder="Enter email"/>
    </label>
    <label>
        <input type="tel" name="phone" placeholder="Enter phone number"/>
    </label>
    <label>
        <textarea  name="message" placeholder="Type to me"></textarea>
    </label>

    <button type="submit">Register</button>
</form>

